<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4084855-50"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4084855-50');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ITN Lanier</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/favicon.ico">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/animate.css">

  
  <!--PROD-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="assets/css/index.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  
  <!--Datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/hilitor/hilitor.js"></script>
  <script src="bower_components/wowjs/dist/wow.min.js"></script>
  <!-- <script src="bower_components/gulp/bin/gulp.js"></script> -->
  <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
  
  <script src="//kendo.cdn.telerik.com/2018.1.117/js/kendo.all.min.js"></script>  
  <script src="app/app.js"></script>
  			
<base href="/app">        
</head>

<body ng-controller="MainController">
  <div class="wrapper" id="wrapper-content">
  
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-left:-50%">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"><img ng-src="{{assetsPath}}/images/custom_logo.png" alt="main logo"/></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
          <ul class="nav navbar-nav">
            
            <li>
              <a ui-sref="home"><span class="glyphicon glyphicon-home"></span> 
                HOME
              </a>
            </li>
            
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-info-sign"></span> 
                ABOUT US
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="what-we-do">What We Do</a></li>
                <li><a ui-sref="organization">Our Organization</a></li>
                <li><a ui-sref="faces">Faces of our Members</a></li>
                <li><a ui-sref="faq">FAQ</a></li>
                <!-- <li><a ui-sref="rider-stories">Rider Stories</a></li> -->
                <li><a ui-sref="news">News</a></li>
                <li><a href="http://blog.itnamerica.org/" target="_blank">Blog</a></li>
                <li role="separator" class="divider"></li>
                  <li><a ui-sref="contact">Contact us</a></li>
              </ul>
            </li>
            
            <!-- <li>
              <a ui-sref="news"><i class="fa fa-newspaper"></i> 
                NEWS
              </a>
            </li>
            <li>
              <a ui-sref="contact"><span class="glyphicon glyphicon-envelope"></span> 
                CONTACT
              </a>
            </li> -->
          
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-car"></i>
                RIDE WITH US
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="become-member">Become a Member</a></li>
                <li><a style="margin-left:10%" ui-sref="member-app">Online Member Application</a></li>
                <li><a ui-sref="volunteer-to-drive">Volunteer to Drive</a></li>
                <li><a style="margin-left:10%" ui-sref="volunteer-app">Online Volunteer Application</a></li>
                <li><a ui-sref="non-rider-member">Non-Rider Member Application</a></li>
                <li><a ui-sref="family">Family Involvement</a></li>
                <li><a ui-sref="member-programs">Member Programs</a></li>
                <li><a ui-sref="pay-online">Pay Online</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-heart"></span> 
                WAYS TO GIVE
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="donate">Donate</a></li>
                <li><a ui-sref="corporate">Corporate Partnership</a></li>
                <li><a ui-sref="volunteer-to-drive">Volunteer to Drive</a></li>
              </ul>
            </li>
            
            <li>
              <a ui-sref="volunteer-to-drive"><i class="fa fa-hand-paper-o"></i>
                VOLUNTEER TO DRIVE
              </a>
            </li>
            
            <li>
              <a ui-sref="pay-online"><span class="glyphicon glyphicon-usd"></span> 
                MAKE A PAYMENT
              </a>
            </li>
          
            
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
      
      <!--ZOOM BUTTONS-->
      <span style="margin-left:90%;position:absolute;margin-top:-100px !important;">
        <img ng-src="{{assetsPath}}/images/icons/resize-large.png"/ ng-click="resizeText(0.1)">
        <img ng-src="{{assetsPath}}/images/icons/resize-default.jpg" ng-click="resizeText()"/>
        <img ng-src="{{assetsPath}}/images/icons/resize-small.png" ng-click="resizeText(-0.1)"/>
      </span>
      
    </nav>

  <div class="main" id="main-content">
    
    <div id="main-content-inner" ui-view></div>

  
  </div><!--MAIN-->
  
  <div id="footer">
    <div class="container">
        <div class="col-sm-4">
          <div class="footer-title">ITN<em>{{affiliate | uppercase}}</em></div>
          <hr>
          <ul>
            <li>(678) 696-0360</li>
            <li><a ui-sref="contact">Contact Us</a></li>
            <li ng-hide="session"><a ui-sref="login">Login</a></li>
            <li ng-show="session"><a ng-click="logout()">Logout</a></li>
            <li ng-show="session"><a ui-sref="dashboard">Admin Portal</a></li>
          </ul>
        </div>
        
        <div class="col-sm-4 social-icons">
          <div class="footer-title">JOIN OUR COMMUNITY</div>
          <hr>
          <div class="row">
            <a href="https://www.facebook.com/itnlanier"><div class="col-sm-3 social-icon-border fb">
              <i class="fa fa-facebook"></i>
            </div></a>
            <!-- <a href="http://www.twitter.com/itnamerica"><div class="col-sm-3 social-icon-border tw">
              <i class="fa fa-twitter"></i>
            </div></a>
            <a href="http://www.youtube.com/itnamerica"><div class="col-sm-3 social-icon-border yt">
              <i class="fa fa-youtube"></i>
            </div></a>
            <a href="http://www.instagram.com/itnamerica"><div class="col-sm-3 social-icon-border in">
              <i class="fa fa-instagram"></i>
            </div></a> -->
          </div>
        </div>
        
        <div class="col-sm-4 search">
          <div class="footer-title">SEARCH</div>
          <hr>
          <form class="navbar-form navbar-left" style="margin-top:-25px;">
            <span class="form-group row">
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="keyword" placeholder="Search">
              </div>
              <div class="col-sm-2">
                <button type="button" ng-click="searchKeywordInApp()" class="btn btn-default btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </span>
          </form>
          
        </div>
        
      <!-- </div> -->
    </div>
  </div><!-- END FOOTER -->
   
  </div>

  
  <!--CDN alternatives-->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script> -->

  
  
</body>
</html>
