<div class="album" ng-init="loadAlbumPhotosAsImgSrc()">
  <div class="jumbotron section first-hero" id="first-hero-album">
    <h1>Album Photo</h1>
  </div><!--first-hero-->
  
  <div class="jumbotron section">
    <div class="container ta-center" style="margin:auto;width:80%">
      <h5>Photos below</h5>
      
      <div class="photo-wrap ta-center" style="margin:auto">
        <div ng-repeat="photoUrl in photoUrls" style="border-radius:5px;text-align:center">
          <img ng-src="{{photoUrl}}" style="float:left;padding:1%;width:300px;height:300px"/>
        </div>
      </div>


    </div>
  </div>
</div>




