<div class="album" ng-init="loadAlbumPhotosAsImgSrc()">
  <div class="jumbotron section first-hero" id="first-hero-album">
    <h1>Album Photo</h1>
  </div><!--first-hero-->
  
  <div class="jumbotron section">
    <div class="container ta-center" style="margin:auto;width:80%">
      <h5>Photos below</h5>
      
      <div class="photo-wrap ta-center" style="margin:auto">
          <div class="repeat-img" ng-repeat="photoUrl in photoUrls" style="display:inline">
            <img ng-src="{{photoUrl}}"/>
          </div>
      </div>


    </div>
  </div>
</div>




