    <div class="community">
      <div class="jumbotron section .first-hero" id="first-hero-community">
        <h1>Community Support</h1>
      </div><!--first-hero-->
      
      <div class="jumbotron section comm-slogan">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 descrip">
              <h2>Every time an older person stops driving, a business runs the risk of losing a customer.</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-8 descrip">
              <h2>The Ride & Shop™ program brings paying customers right to the door, then helps them with their packages as they leave.</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="jumbotron section shop-ride" style="background:white">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h2>Ride & Shop</h2>
              <hr align="left" width="35%">
              <p>ITN riders can receive discounts rides at these businesses.</p>
            </div>
            <div class="col-sm-4 image">
              <img ng-src="{{assetsPath}}/images/icons/shop-ride.jpg" alt="shop and ride"/>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-4 image">
              <img ng-src="{{assetsPath}}/images/icons/healthymiles.jpg"/>
            </div>
            <div class="col-sm-8">
              <h2 style="text-align:right">HealthyMiles</h2>
              <hr align="right" width="35%">
              <p style="text-align:right">ITN riders can receive discounts rides to these businesses.</p>
            </div>
          </div>
          
        </div><!--container-->
      </div><!--section-->
      
      <div class="jumbotron section description" style="background:#afcace">
        <div class="container">
          <div class="col-sm-6">
            <div class="container">
              <h3>Interested in getting your company or organization involved</h3>
              <p>It is simple for a business to join the Ride & Shop™ program, and ITN takes care of all the administrative cost and paperwork.</p>
              <p>Contact us and get involved</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="container">
            <h3>Other ways to get involved</h3>
              <p>If you're unable to join the Ride & Shop™ program there are other ways to get involved donating small gifts for volunteers, office supplies, gift certificates for car washes.</p>
              <p>Contact us for more ideas and information</p>
            </div>
          </div>
        </div><!--container-->
      </div><!--section-->
      
      <div class="jumbotron section" style="background:White; margin-bottom:25px">
        <div class="container">
          <p style="text-align:center">Please contact us below for details.</p>
          
          <div class="form-area" style="width:70%;margin:auto;margin-top:50px">  
            <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
              <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center">Contact ITN<em>{{affiliate}}</em></h3>
                      
              <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.messageBody" required></textarea>
                <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.message.$error.maxMsgLength" class="help-block">{{errorMessages.maxlength}}</span>
                  <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
              </div>
                
              <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
            
            </form>
          </div><!--form-area-->
          
        </div>
      </div>
      
    </div><!--corporate-->
