<div class="contact non-rider">
      
    <div class="jumbotron section first-hero" id="first-hero-contact">
      <h1>Contact</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section" style="background: #c7dfe4">
      
      <div class="container">
        <h3>Want to learn more about ITN<em>Lanier</em>? Have questions or comments? Use the form below, or call us at (678) 696-0360. Or visit us at 999 Chestnut St. SE, Gainesville, GA 30501.</h3>
        <hr align="center">
        <div class="col-sm-12">
            <div class="form-area" style="background: #c7dfe4;border:none">  
                <!-- <form role="form"> -->
                  <form name="contactform" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
                <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center">Contact ITN Lanier</h3>
                    <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="formData.name" required>
                    <span class="error" ng-show="myForm.name.$error.required">Required!</span>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                    <span class="error" ng-show="myForm.email.$error.required">Required!</span>
                    <br><span class="error" ng-show="myForm.email.$error.pattern">Please match pattern user@example.com</span>
                    
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                    <span class="error" ng-show="myForm.mobile.$error.required">Required!</span>
                    <br><span class="error" ng-show="myForm.mobile.$error.pattern">Please match pattern [+91-036-78658 || 91-036-78658]</span>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" required>
                    <span class="error" ng-show="myForm.subject.$error.required">Required!</span>
                  </div>
                  <div class="form-group">
                  <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7" ng-model="formData.messageBody"></textarea>
                      <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                  </div>
                    
                <!-- <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button> -->
                <input type="submit" id="submit" class="btn btn-primary pull-right itn-green-bg" value="Send"  ng-disabled="contactform.$error" style="margin-left:2%">
                <!-- <input type="reset" class="btn btn-primary pull-right itn-green-bg" value="Reset"> -->
                
                </form>
            </div>
          </div>
        </div>
      
    </div><!--jumbo-->
    
  </div><!--contact-->


  
  <script>
  $(document).ready(function(){ 
    $('#characterLeft').text('140 characters left');
    $('#message').keydown(function () {
        var max = 140;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});

  </script>
