
    <div class="corporate">
      <div class="jumbotron section .first-hero" id="first-hero-corporate">
        <h1>Corporate Partnership</h1>
      </div><!--first-hero-->
      
      <div class="jumbotron section corp-slogan" style="background:White">
        <div class="container">
          <h2>Business partnerships help keep seniors coming to your doors, once they have given up the keys.</h2>
        </div>
      </div>
      
      <div class="jumbotron section description" style="background:#399eaa">
        <div class="container">
          <div class="col-sm-9 wow slideInLeft" style="z-index:10">
            <p>
            Corporate partnerships are crucial for helping ITN<em>{{affiliate}}</em> continue our work ensuring seniors have access to adequate dignified transportation.<br>
            Our sponsors make our services possible. 
            </p>
          </div>
          <div class="col-sm-3 corp-icon wow slideInRight" data-wow-delay="1s">
            <img src="assets/images/itn-people-images/corporate-partners.jpg" alt="image of hands shaking"/>
          </div>
        </div><!--container-->
      </div><!--description-->
      
      <div class="jumbotron section regeneron">
        <div class="container section-content">
          <h2>Regeneron and ITN<em>America</em></h2>
          <div class="row">
            <div class="col-sm-9 reg-text">
              ITN<em>{{affiliate}}</em> is part of the nationwide network of ITN<em>America</em> affiliates.
              ITN<em>America</em> is proud to recognize Regeneron Pharmaceuticals, Inc. as a corporate sponsor committed to helping raise awareness of the challenges associated with vision impairment, low vision, senior mobility issues and the shortage of locally-available transportation options for seniors. As the National Pharmaceutical Eye-care Services Sponsor for ITN<em>America</em> and our affiliate communities, Regeneron Pharmaceuticals is proud to support ITN's mission to promote safe senior mobility. 
            </div>
            <div class="col-sm-3 reg-img">
              <img src="assets/images/regeneron_logo.jpg" alt="regeneron logo" style="width: 300px"/>
            </div>
          </div><!--row-->
        </div><!--container/section-content-->
      </div><!--regeneron-->
      
      <div class="jumbotron section itn-lightgreen-bg" style="margin-bottom:25px">
        <div class="container">
          <p style="text-align:center">If your company is interested in joining us in this important work, please contact us using the form below.</p>
          <hr align="center">
          
          <div class="form-area" style="margin:auto;margin-top:50px">  
            <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
              <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center">Contact ITN<em>{{affiliate}}</em></h3>
                      
              <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                  <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
              </div>
                
              <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
            
            </form>
            
            <p ng-if="loading"><em>Loading. Please wait</em></p>
            <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
            
          </div><!--form-area-->
          
        </div>
      </div>
      
    </div><!--corporate-->

    
    <script>
      new WOW().init();
          
      $(document).ready(function(){ 
        $('#characterLeft').text('2000 characters left');
        $('#message').keydown(function () {
            var max = 2000;
            var len = $(this).val().length;
            if (len >= max) {
                $('#characterLeft').text('You have reached the limit');
                $('#characterLeft').addClass('text-danger');
                $('#submit').addClass('disabled');            
            } 
            else {
                var ch = max - len;
                $('#characterLeft').text(ch + ' characters left');
                $('#submit').removeClass('disabled');
                $('#characterLeft').removeClass('red');            
            }
        });    
    });
    </script>