<div class="container-fluid dashboard" ng-init="authenticate()" style="padding:2% 5% 10% 5%; background:#afcace">
  <h1 style="mb-50">Admin Portal</h1>
  
  <div class="ta-center" ng-hide="session">
    <p class="mt-50 mb-50" style="font-size: 25px">
      <strong>You must first authenticate to view the applications :)</strong>
    </p>
    <p><a class="btn btn-lg" ui-sref="login">Login</a></p>
  </div>
  
  <div class="row" ng-show="session">
    <div class="col-md-6">
      <h2>Membership/Rider applications</h2>
      <input type="text" id="searchInput" placeholder="Search" ng-model="filterTable">
      <table class="table table-striped table-hover" id="membership-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th ng-click="sort('riderName')">Rider Name
              <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="rider in memberFormData|orderBy:sortKey:reverse|filter:filterTable|itemsPerPage:10" pagination-id="membership">
            <td>{{memberFormData.length - $index}}</td>
            <td>{{rider | timestamp | date}}</td>
            <td>{{rider.riderName}}</td>
            <td>{{rider.streetAddress}}, {{rider.city}}, {{rider.state}} {{rider.zip}}</td>
            <td>{{rider.primaryPhone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('memberapp', rider)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{rider}}, formType: 'memberapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('memberapp', rider)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate new PDF" ng-click="regenerateMultiPagePDF(rider, 'memberapp')">
               <span class="glyphicon glyphicon-repeat"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        pagination-id="membership"
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Volunteer/Driver applications</h2>
      
      <input type="text" id="searchInput" placeholder="Search" ng-model="filterTable2">
      <table class="table table-striped table-hover" id="volunteer-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th ng-click="sort('riderName')">Rider Name
              <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="driver in volunteerFormData|orderBy:sortKey:reverse|filter:filterTable2|itemsPerPage:10" pagination-id="volunteer">
            <td>{{volunteerFormData.length - $index}}</td>
            <td>{{driver | timestamp | date}}</td>
            <td>{{driver.riderName}}</td>
            <td>{{driver.streetAddress}}, {{driver.city}}, {{driver.state}} {{driver.zip}}</td>
            <td>{{driver.homePhone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('volunteerapp', driver)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{driver}}, formType: 'volunteerapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('volunteerapp', driver)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate new PDF" ng-click="regenerateMultiPagePDF(driver, 'volunteerapp')">
               <span class="glyphicon glyphicon-repeat"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        pagination-id="volunteer"
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
    </div><!--col-md-6-->
  </div><!--row-->
  
  
  
  <div class="row" ng-show="session">
    <div class="col-md-6">
      <h2>Non-Rider applications</h2>
      
      <input type="text" id="searchInput" placeholder="Search" ng-model="filterTable3">
      <table class="table table-striped table-hover" id="nonrider-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th ng-click="sort('lastName')">Rider Name
              <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="nonrider in nonRiderFormData|orderBy:sortKey:reverse|filter:filterTable3|itemsPerPage:10" pagination-id="nonrider">
            <td>{{nonRiderFormData.length - $index}}</td>
            <td>{{nonrider | timestamp | date}}</td>
            <td>{{nonrider.firstName}} {{nonrider.lastName}}</td>
            <td>{{nonrider.address1}}, {{nonrider.city}}, {{nonrider.state}} {{nonrider.zip}}</td>
            <td>{{nonrider.phone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('nonriderapp', nonrider)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{nonrider}}, formType: 'nonriderapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('nonriderapp', nonrider)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        pagination-id="nonrider"
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Contact forms</h2>
      
      <input type="text" id="searchInput" placeholder="Search" ng-model="filterTable4">
      <table class="table table-striped table-hover" id="contact-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th ng-click="sort('name')">Rider Name
              <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="person in contactFormData|orderBy:sortKey:reverse|filter:filterTable4|itemsPerPage:10" pagination-id="contact">
            <td>{{contactFormData.length - $index}}</td>
            <td>{{person | timestamp | date}}</td>
            <td>{{person.name}}</td>
            <td>{{person.phone}}</td>
            <td><strong>{{person.subject}}</strong></td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('contactform', person)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{person}}, formType: 'contactform'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        pagination-id="contact"
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
      
    </div><!--col-md-6-->
  </div><!--row-->
  
  <div class="row" ng-show="session">
    
    <div class="col-md-6">
      <h2>Newsletter subscriptions</h2>
      
      <input type="text" id="searchInput" placeholder="Search" ng-model="filterTable5">
      <table class="table table-striped table-hover" id="newsletter-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th ng-click="sort('email')">Email
              <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="person in newsletterFormData|orderBy:sortKey:reverse|filter:filterTable5|itemsPerPage:10" pagination-id="newsletter">
            <td>{{newsletterFormData.length - $index}}</td>
            <td>{{person | timestamp | date}}</td>
            <td>{{person.email}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('newsletterform', person)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{person}}, formType: 'newsletterform'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        pagination-id="newsletter"
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
    </div><!--col-md-6-->
    
    
    <div class="col-md-6">
    </div><!--col-md-6-->
    
    
  </div><!--row-->
  
  
</div><!--container-->

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<style>
  .dashboard .row .col-md-6 {padding:2%}
  .dashboard tr td {max-width:150px}
  .dashboard a {
    padding:2%;
    color:white !important;
  }
  .dashboard table a {
    padding: 5%;
  }
  
  .sort-icon {
    font-size: 9px;
    margin-left: 5px;
  }
  .pagination>li>a, .pagination>li>span {
      color:black !important;
  }
  th {
      cursor:pointer;
  }
</style>