<div class="ecole">
  <div class="jumbotron section first-hero" id="first-hero-ecole">
    <h1>L'Ecole</h1>
  </div><!--first-hero-->
  
  <div class="jumbotron section description">
    <div class="container">
      
      <h2>HISTOIRE DE L'ECOLE</h2>

      <p>AVEC LES PREMIERS FONDS RÉCOLTÉS L'Association a acheté en juillet
      2009, un bâtiment en Haïti à Guérin (commune de Léogâne) dans le but d'installer une école mixte, laïque et gratuite pour les enfants démunis .Le bâtiment s'est effondrée lors du séisme du 12 Janvier 2010. </p>

      <img ng-src="{{assetsPath}}/images/X.png"/>

      <h2>Bâtiment de l'association avant et après le séisme 2010</h2>

      <p>2011/2012: Après le séisme, l'école a démarré sous une tente, avec un effectif de 40 enfants âgés de 3 à 6 ans avec un service de service de cantine pour un repas quotidien aux enfants qui fonctionne jusqu'à présent.</p>

      <img ng-src="{{assetsPath}}/images/X.png"/>

      <p>Depuis 2013, l'école sous une construction précaire constituée de débris de l'ancien bâtiment effondré par le séisme.</p>

      <p>Actuellement, pour l'exercice 2017 /2018, toujours sous la même construction précaire, l'école fonctionne avec un effectif de 80 enfants dont 50 filles et 30 garçons.</p>
            
      <h2>FONCTIONNEMENT DE L'ÉCOLE</h2>

      <ul>
        <li>Le corps professoral (les salariés)</li>
        <li>1 Directeur enseignant __ 1Enseignante Assistante sociale 2 Enseignants</li>
      </ul>

      <ul>Les prestataires
        <li>1 Cuisinière </li>
        <li>1 Aide Cuisinière </li>
        <li>1 Gardien </li>
        <li>1 Médecin </li> 
        <li>1 Infirmière ( 1fois/ An) </li>
      </ul>

                  
      <h2>DESCRIPTION DU PROJET / LE PROJET EDUCATIF DE L'ECOLE:</h2>

      <p>Le créole est la langue parlée par la plus grande partie de la population, Il est important de permettre aux enfants dès leur entrée à l'école de pouvoir bénéficier de cours de français, pour acquérir des compétences lexicales et syntaxiques. Ainsi, s'ils le désirent ils pourront poursuivre aussi loin que possible leur études.</p>

      <p>Vêtements : L'uniforme étant obligatoire, des uniformes gratuits sont mis à la disposition des enfants de notre école, ce qui soulage financièrement les familles.
      Nutrition : Depuis 2011 un service de cantine gratuit permettant aux élèves de l'école a avoir un repas quotidien.</p>

      <p>Hygiène & Santé : il est prévu que les enfants soient suivis annuellement par un médecin et une infirmière.</p>

    </div>
  </div>
  
  
</div>