
    <div class="member-programs">
      
      <div class="jumbotron section first-hero" id="first-hero-member">
        <h1>Member Programs</h1>
      </div>
      
      <div class="container-wrapper">
        
        <div class="jumbotron section container intro-wrapper">
          <h2 class="intro">
            Every time an older person stops driving, a local business runs the risk of losing a customer. ITN<em>{{affiliate}}</em> offers innovative programs that both fight isolation and keep customers coming through the door of community businesses.
          </h2>
        </div><!--jumbo container-->
        
        <div class="jumbotron section container featurettes">
          <hr class="featurette-divider">
          
          <div class="row featurette">
            <div class="col-sm-7 mt-50 wow slideInLeft">
              
              <div class="itn-title">
                <h2>CarTrade™</h2>
                <hr align="left" width="35%">
              </div><!--itn-title-->
              
              <div class="lead">
                <p>The CarTrade™ program allows seniors to make use of an unused car and exchange the value of the car for ride credits.</p>
                <p>Receive a possible tax deduction or ITN ride credits for yourself or others when you donate or trade your car.</p>
                <p><a ui-sref="contact">Find out how you can trade you car by contacting us</a></p>
              </div><!--description-->
            </div><!--col-sm-7-->  
              
            <div class="col-sm-5 mt-50">
              <img class="featurette-image img-responsive center-block" style="margin-right:0" ng-src="{{assetsPath}}/images/icons/car-trade.jpg" alt="Generic placeholder image">
            </div>
          </div><!--featurette-->

          <hr class="featurette-divider">



          <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" ng-src="{{assetsPath}}/images/icons/gift-certificate.jpg" alt="Generic placeholder image">
            </div>
            
            <div class="col-md-7 featurette-right wow slideInRight">
              <div class="itn-title">
                <h2>Gift Certificate</h2>
                <hr align="right" width="35%">
              </div><!--itn-title-->
              
              <div class="lead pull-right">
                <p>Friends and family can give you a lift by purchasing ITN gift certificates for birthdays, Mother's Day, or any occasion.</p>
                <p><button class="btn btn-lg mt-25" ng-click="giftCertInfo = !giftCertInfo">Buy a gift certificate here.</button></p>
              
              <div class="gift-cert-info" ng-show="giftCertInfo == true">
                <p>A gift certificate for transportation is an original gift that can be used to take fun trips or necessary ones. They are a great way to help your parent or friend fund their Personal Transportation Account™. Celebrate Mother's Day, birthdays, and special holidays with a gift certificate in any amount, sent in a beautiful card by ITN<em>{{affiliate}}</em>. <br>
                <a ng-click="scrollTo('contact-form')">Call or e-mail to order.</a></p>

                <p>If you are trying to encourage safe, alternative transportation for your loved one, consider a gift certificate to pay for membership and their first ride. Our trained drivers will transport your loved one with special care -- opening doors, carrying packages, and offering friendly assistance as needed.</p>
              </div><!--gift-cert-info-->
            </div><!--lead-->
            </div><!--col-md-7-->
            
          </div><!--featurette-->
          
          <hr class="featurette-divider">
          
          
          
        </div><!--jumbo container featurettes-->
      
    </div><!--container-wrapper-->
  </div><!--member-programs-->
  
  <div class="community">
    
    <div class="jumbotron section shop-ride" style="background:white">
      <div class="container">
        <!-- <hr class="featurette-divider"> -->
        <div class="row">
          <div class="col-sm-7 wow slideInLeft"> 
            <div class="itn-title">
              <h2>Ride & Shop</h2>
              <hr align="left" width="35%">
            </div><!--itn-title-->
            
            <div class="lead">
              <p>The Ride & Shop™ program brings paying customers right to the door, then helps them with their packages when they leave.</p>
              <p>ITN riders can receive ride discounts when they patronize these businesses.</p>
            </div><!--lead-->
        </div><!--col-sm-7-->
        
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/shop-ride.jpg" class="center-block" style="margin-right:0" alt="ride and shop icon"/>
          </div><!--image-->
        </div><!--row-->
        
        <hr class="featurette-divider">
        
        
        <div class="row healthy-row">
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/healthymiles.jpg" alt="healthy miles icon"/>
          </div><!--image-->
          
          <div class="col-sm-7 featurette-right wow slideInRight">
            <div class="itn-title">
              <h2>HealthyMiles</h2>
              <hr align="right" width="35%">
            </div><!--itn-title-->
            
            <div class="lead pull-right">
              <p>HealthyMiles ensures patients can get to your office, whether you’re a doctor, physical therapist, chiropractor or massage therapist. </p>
              <p>ITN riders can receive ride discounts  to these businesses.</p>
            </div><!--lead-->
          </div><!--col-sm-7-->
        </div><!--row-->
        
        <hr class="featurette-divider">
        
        
        <div class="row">
          <div class="col-sm-7 wow slideInLeft">
            <div class="itn-title">
            <h2>Additional Benefits</h2>
            <hr align="left" width="35%">
          </div><!--itn-title-->
          
          <div class="lead">
            <ul>
                The following programs are additional benefits of membership:
                <li><strong>Reach Out Program</strong><br> 
                  Refer a new member or volunteer and receive a $5 gift certificate.</li>
                <li><strong>Birthday Gift</strong><br> 
                  Every ITN riding member receives a $5 birthday gift certificate to use towards transportation.</li>
            </ul>
          </div><!--lead-->
        </div><!--col-sm-7-->
          
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/icon-yay.png" style="height: 200px;margin-right:0" class="center-block" alt="icon users cheering"/>
          </div><!--image-->
        </div>
        
        
        <hr class="featurette-divider">


        <div class="row healthy-row">
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/road-scholarship.png" alt="road scholarship icon"/>
          </div><!--image-->
          
          <div class="col-sm-7 featurette-right wow slideInRight">
            <div class="itn-title">
              <h2>Road Scholarship™</h2>
              <hr align="right" width="35%">
            </div><!--itn-title-->
            
            <div class="lead pull-right">
              <p>The Road Scholarship Program is primarily funded by volunteers who donate transportation credits earned when they drive others. Eligibility standards are set locally, and riders who meet the standards are eligible for a scholarship to help cover some of the cost of their rides.</p>
            </div><!--lead-->
          </div><!--col-sm-7-->
        </div><!--row-->


        <hr class="featurette-divider">


        <div class="row">
          <div class="col-sm-7 wow slideInLeft">
            <div class="itn-title">
            <h2>Community Road Scholarship™</h2>
            <hr align="left" width="35%">
          </div><!--itn-title-->
          
          <div class="lead">
            <p>Volunteers donate credits to a fund for a municipality, town or other government agency or for an organization fund for their citizens or members, such as the City of Portland or AARP, local or national. </p>
          </div><!--lead-->
        </div><!--col-sm-7-->
          
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/comm-road-scholarship.png" style="height: 200px;margin-right:0" class="center-block" alt="comm road scholarship icon"/>
          </div><!--image-->
        </div>



        <hr class="featurette-divider">


        <div class="row healthy-row">
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/pta.jpg" alt="personal transportation account icon" style="height: 350px"/>
          </div><!--image-->
          
          <div class="col-sm-7 featurette-right wow slideInRight">
            <div class="itn-title">
              <h2>Personal Transportation Account™</h2>
              <hr align="right" width="35%">
            </div><!--itn-title-->
            
            <div class="lead pull-right">
              <p>The Personal Transportation Account™ is one of the core business innovations of the ITN system because it allows an ITN member to store transportation assets in various forms - either as a credit or as cash. Credits may be earned as a volunteer driver, by trading a car for rides through the CarTrade™ program, as a birthday credit, or as a referral credit. </p>
              <p>Cash may come from pre-payment, gift certificates, co-payments from participating merchants and healthcare providers, or from Ride Services accounts. ITN is a cashless system. Seniors who ride receive a statement once a month detailing the rides they have taken. Volunteer drivers also have personal transportation accounts to store their credits and receive statements detailing their accumulated balances.</p>
            </div><!--lead-->
          </div><!--col-sm-7-->
        </div><!--row-->


        <hr class="featurette-divider">


        <div class="row">
          <div class="col-sm-7 wow slideInLeft">
            <div class="itn-title">
            <h2>Transportation Social Security™</h2>
            <hr align="left" width="35%">
          </div><!--itn-title-->
          
          <div class="lead">
            <p>Independent Transportation Network ® (ITN) volunteer drivers store transportation credits for their volunteer efforts. These credits may be used to plan for their own future transit needs or they may use these credits to help pay for rides for members of their family or for low income seniors through the Road Scholarship Program™. ITN transportation credits are honored at any ITN in the country.</p>
          </div><!--lead-->
        </div><!--col-sm-7-->
          
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/transport-ssn.png" style="height: 300px;margin-right:0" class="center-block" alt="transportation ssn icon"/>
          </div><!--image-->
        </div>


        <hr class="featurette-divider">


        <div class="row healthy-row">
          <div class="col-sm-5 image">
            <img ng-src="{{assetsPath}}/images/icons/ride-services.png" alt="rides services icon"/>
          </div><!--image-->
          
          <div class="col-sm-7 featurette-right wow slideInRight">
            <div class="itn-title">
              <h2>Ride Services</h2>
              <hr align="right" width="35%">
            </div><!--itn-title-->
            
            <div class="lead pull-right">
              <p>Community organizations such as churches, assisted living facilities, and health care providers may contract with ITN to provide transportation services for their members. Once a month, ITN sends a statement to the organization to pay for the rides that the members take. This is a way for community organizations to supplement the transportation services they already provide. Community organizations that participate in Ride Services also help to support the ITN affiliate organization.</p>
            </div><!--lead-->
          </div><!--col-sm-7-->
        </div><!--row-->

        
      </div><!--container-->
    </div><!--section-->
    
    <!-- <div class="jumbotron section comm-slogan">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 descrip">
            <h2>Every time an older person stops driving, a business runs the risk of losing a customer. These programs help boost the local economy.</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-4 col-sm-8 descrip">
            <h2>The Ride & Shop™ program brings paying customers right to the door, then helps them with their packages as they leave.</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 descrip">
            <h2>The CarTrade™ program allows seniors to make use of an unused car and exchange the value of the car for ride credits.</h2>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="jumbotron section description" style="background:#afcace">
      <div class="container wow fadeInUp" wow-data-duration="1s">
        <div class="col-sm-6">
          <div class="container descr-box">
            <h3>Interested in getting your company or organization involved</h3>
            <p>It’s easy to sign up for Ride & Shop™ and HealthyMiles, and ITN<em>{{affiliate}}</em> takes care of all the administrative costs and paperwork.</p>
            <!-- <p>Contact us and get involved</p> -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="container descr-box">
          <h3>Other ways to get involved</h3>
            <p>There are other ways to get involved too, from donating small gifts for volunteers to office supplies, gift certificates for car washes, etc. </p>
              <!-- Contact us for more ideas and information. -->
          </div>
        </div>
      </div><!--container-->
    </div><!--section-->
    
    <div class="jumbotron section programs-contact" style="background:white; margin-bottom:25px">
      <div class="container">
        <p style="text-align:center">Please contact us below for details.</p>
        <hr align="center">
        
        <div class="form-area" style="margin:auto;margin-top:50px" id="contact-form">  
          <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center">Contact ITN<em>{{affiliate}}</em></h3>
                    
            <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
              <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
              <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
              <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
            </div>
          
            <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
              <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
              <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
              <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
            </div>
          
            <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
              <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
              <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
              <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
              <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
              <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
              <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
              <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
              <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
              <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
              <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
            </div>
              
            <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
            <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
          
          </form>
        </div><!--form-area-->
        
      </div>
    </div>
    
  </div><!--community-->
    
    
  <script>
    new WOW().init();
    $(document).ready(function(){ 
      $('#characterLeft').text('2000 characters left');
      $('#message').keydown(function () {
          var max = 2000;
          var len = $(this).val().length;
          if (len >= max) {
              $('#characterLeft').text('You have reached the limit');
              $('#characterLeft').addClass('text-danger');
              $('#submit').addClass('disabled');            
          } 
          else {
              var ch = max - len;
              $('#characterLeft').text(ch + ' characters left');
              $('#submit').removeClass('disabled');
              $('#characterLeft').removeClass('red');            
          }
      });    
  });
  </script>