
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnlanier/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img ng-src="{{assetsPath}}/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnlanier/">Pressroom Blog</a></li>
              <li class="wow fadeInUp" data-wow-delay=".1s">
                <a href="https://www.gainesvilletimes.com/news/chapman-named-itnlanier-executive-director/">Gainesville Times: Chapman named ITN<em>Lanier</em> Executive Director</a>
              </li>
            </ul>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img ng-src="{{assetsPath}}/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp"><a ui-sref="newsletters({anchor: 'march17'})">Newsletter March 2017</a></li>
            <li class="wow fadeInUp" data-wow-delay=".1s"><a ui-sref="newsletters({anchor: 'newsletter-dec16'})">Newsletter December 2016</a></li>
            <li class="wow fadeInUp" data-wow-delay=".2s"><a ui-sref="newsletters({anchor: 'july16'})">Newsletter July 2016</a></li>
            <li class="wow fadeInUp" data-wow-delay=".3s"><a ui-sref="newsletters({anchor: 'newsletter-nov15'})">Newsletter November 2015</a></li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>