
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-50">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Jeff_Rock.jpeg" alt="Jeff Rock portrait"/>
            <h2>Jeff Rock</h2>
            <p class="title">Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              Jeff Rock and his wife Nancy have been residents of Hall County for the past five years. Jeff recently retired from Acts Retirement-Life Communities, where he served as the executive director of Lanier Village Estates, a Continuing Care Retirement Community serving six-hundred seniors on the campus located in Gainesville, GA. Jeff has been employed in the senior housing industry for the past forty-three years.

              Jeff has been involved with ITN<em>Lanier</em> since 2013 serving as a member of the Advisory Council and also serves as a volunteer driver with ITN<em>Lanier</em>. Jeff serves on the Hall County Council on Aging Board of Directors and also serves on the Northeast Georgia Health System Advisory Board.
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Jerry_Butler.png" alt="Jerry Butler Portrait"/>
            <h2>Jerry Butler</h2>
            <p class="title">Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Jerry L. Butler is a retired technology executive from the computer and communications industry.  He spent his career forming and building high performance teams to conceive and develop innovative products.  <br> He recently retired from NCR Corporation and has lead engineering teams at large as well as new start-up companies.  He is an electrical engineering graduate of Georgia Tech.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Kathy_Oates.jpg" alt="Kathy Oates portrait"/>
            <h2>Kathy K. Oates</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Kathy Kirkpatrick Oates is a retired Special Education teacher.  Now she supervises student teachers for UNG part time.  She is a native of Gainesville who enjoys volunteering at the NEGA Medical Center and NEGA History Center.  Her family has deep roots in Gainesville and she is glad to have more time now to give back to her community.  <br> After being very involved with her late mother’s care, she knows firsthand what is needed for transporting seniors who need drivers.  Kathy is married to Richard and they have 2 grown sons.  More importantly, they have grand twins–identical toddler boys.</p>
            </div>
          </div>

        </div><!--row-->
        
        
        <div class="row mb-50">
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Keith_Guernsey.jpg" alt="Keith Guernsey portrait"/>
            <h2>Keith Guernsey</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              Keith D. Guernsey is retired after a 40 year career in sales and sales management with Data General, Cahners Publishing, Motorola and Comcast. He lives on Lake Lanier with his wife Susan and four-footed son Harley. He is the author of two popular, successful books. He is currently working with Meals on Wheels and the Cresswind Performing Arts Club. He is honored to have been elected to the board of directors of ITN<em>Lanier</em>. He enjoys reading, writing and traveling with his family.
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Anthony_Dye_photo.jpg" alt="Anthony Dye portrait"/>
            <h2>Anthony Dye</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Anthony, a native of Elberton, Georgia, relocated to Gainesville in 1987. He received a bachelor’s degree, majoring in corporate finance from the University of Georgia. He also holds a banking degree from University of Georgia. He is a member of the First Baptist Church of Gainesville and has 28 years of combined civic work in Hall County. Anthony and his wife, Jennifer, have been married for 26 years and have two daughters, Anne Marie and Emmaline Grace.</p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Dave_Brunelle.png" alt="Dave Brunelle portrait"/>
            <h2>Dave Brunelle</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>David Brunelle lives in Sterling on the Lake, Flowery Branch and is a retired sales and marketing executive for international hardware and building material manufacturers. He held senior management positions in Boston, Atlanta and Chicago prior to establishing a Manufacturers Rep. business headquartered in the metro Atlanta area. Professional affiliations included the American Hardware Manufacturers Association and National Association Home Builders. </p>
              <p>David has a BS degree in Business Administration from the University of Hartford, Hartford, Ct.  He received an honorable discharge from the US Army and has been a volunteer driver for ITN/Lanier since Sept. 2017.  David is an active tennis player and enjoys spending time with six adult children and nine grandchildren. </p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        <div class="row mb-100">
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Gail_Iverson_photo.jpeg" alt="Gail Iverson portrait"/>
            <h2>Gail Iverson</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Gail L. Iverson joined the Rushton CPA firm in February of 2001 and is currently the Business Services Manager and is in the PIT (partner in training) scheduled to be a partner as of 2019.  She received her undergraduate degree from Valdosta State and became a CPA in 1986.  She specializes in tax advice and preparation and consulting with small businesses.  She is a member of the Ga Society of CPAs, the American Institute of CPAs and the American Payroll Association. </p>
              <p> Gail is active in the community currently serving as the Treasurer of the Community Council on Aging and past Chairperson.  She was a member of the Leadership Hall County class of 2016-2017.  She has previously served as Treasurer on The Guest House board in Gainesville.</p>
              <p>Gail and her husband Dan are proud parents of 4 children, Daneka, who they adopted from China at 16 months, Isaac, and 9-year-old twins, Morgan and Madison.   She enjoys playing the piano at church and  spending time with her family.<p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Milon_Christman_photo.jpeg" alt="Milon Christman portrait"/>
            <h2>Milon Christman </h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio8 = !showBoardBio8">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio8">
              <p>Milon Christman retired from the Financial Services industry in 1999. He then moved from Myrtle Beach, SC to Gainesville where he became Senior Nutrition Director for the Gainesville-Hall County Community Service Center. His primary responsibilities were coordinating the Meals on Wheels program, fundraising, and overseeing the management and logistics of a 250+ volunteer pool. Christman retired a second time in 2016 and became a community volunteer. He holds a BBA (Finance) and MBA from the University of Georgia. He is engaged to Anne Baylor and they will marry in September 2018. He has one son, Nick, who is a Firefighter and Realtor in Myrtle Beach SC. <p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Strother_Randolph_photo.jpeg" alt="Strother Randolph portrait"/>
            <h2>Strother Randolph</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio9 = !showBoardBio9">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio9">
              <p>Strother Randolph is recently retired after 48 years in the Insurance business, the last 32 with The Norton Agency Insurance Division. Since moving to Gainesville in 1977, Strother has been actively involved in a number of mostly non-profit organizations. He was Chairman of the Board for the North Georgia Community Foundation, United Way of Hall County, and Center Point as well as on boards of others. He also was President of two State associations: Professional Insurance Agents of Georgia  and the Georgia affiliate of the American Heart Association. Locally he has been a long time active member of the Gainesville Kiwanis Club and the First Presbyterian Church.</p>

              <p>Strothers greatest joy is his family.He and wife Cindy have been married 47 years and their two daughters and grandchildren all live in Gainesville. He has particularly fond memories of coaching his daughters softball teams and now enjoys attending his grandchildren soccer, cross country and baseball events.</p>

              <p>He is finding great satisfaction being an ITNLanier driver as it gives him an excellent opportunity to help others who are in need.<p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
      </section>
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-100">
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/Diana.jpg" alt="Dana Chapman portrait"/>
              <h2>Dana Chapman</h2>
              <p class="title"><strong>Executive Director</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio10 = !showBoardBio10">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio10">
                <p>Dana has Degrees in Social Work and Speech from LaGrange College 
                  She has been working in Human Services in Hall County for 35 years </p>
                  <p>Dana has worked in:</p>
                  <ul>
                    <li>The State Psychoeducational System</li>
                    <li>As a Juvenile Probation Officer for Hall County</li>
                    <li>In Home Health, Hospital and Geriatric Social Work</li>
                    <li>Prior to coming to The Guest House, Dana was the Director of Victim Services for Rape Response, Inc. for 14 Years
                      Dana served on The Guest House Board of Directors for 3 years and as Executive Director of The Guest House for 6 years prior to joining ITNLanier as Executive Director.</li>
                  </ul>
                  <p>Dana is an active Gainesville Kiwanian.  Dana is married to Allen Schweriner. They 
                  have a Son, A Daughter and A Son-In-Law, and a granddaughter.</p>
                </p>
              </div>
            </div>
        
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/Phyllis.png" alt="Phyllis Gouine portrait"/>
              <h2>Phyllis Gouine</h2>
              <p class="title"><strong>Office Manager</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>I am married and have been for 20 years to my husband Erik. We have raised two boys, our son Dylan who is 19 and my nephew Christopher, who is 16. We moved to Georgia from Michigan in 1994 to take care of a relative. After which, we ended up deciding to stay here and raise our family.  I’ve enjoyed being a Cub Scout assistant Den Leader and a Little League team mom when my boys were younger. </p>
                <p>I spent 4 years with the wrestling booster club raising funds for our teams. I went to college for Accounting at Lanier Technical Institute. I enjoy hiking, camping, kayaking and I love music. We live out in the country in the beautiful Georgia Mountains.  I am an animal lover and I would house an animal rescue if possible! I really enjoy helping others and I prefer to give rather than to receive. Working for iTN Lanier has been very rewarding and I absolutely love my job!</p>
              </div>
            </div>

            <div class="col-sm-4"></div><!--marginright 7% on showBoardBio for this one>
          </div><!--row-->
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

