
      <div class="volunteer-drive fluid-container">
      
      <div class="jumbotron section first-hero" id="first-hero-volunteer-drive">
        <h1>Volunteer To Drive</h1>
      </div><!--first-hero-->
      
      
      <div class="jumbotron section itn-lightgreen-bg benefits-volunteer">
        <div class="container-fluid">
          <h2 class="ta-center">What are some of the benefits of volunteering?</h2>
            <hr align=center>
            <div class="row-wrap">
          <div class="row mt-50">
            <div class="col-sm-6 benefit">
              <div class="num">1.</div> You help seniors stay independent and healthy by taking them to visit friends, a hair dressers appointment or a doctor's appointment.
            </div>
            <div class="col-sm-6 benefit">
              <div class="num">2.</div> You help make driving safer for everyone.
            </div>
          </div><!--row-->
          <div class="row">
            <div class="col-sm-6 benefit">
              <div class="num">3.</div> You provide a positive alternative to a huge national problem by ensuring that seniors have a great choice without burdening family or friends.
            </div>
            <div class="col-sm-6 benefit">
              <div class="num">4.</div> You receive a free annual membership for yourself and one for a friend, and earn credits to use for your future transportation needs.
            </div>
          </div><!--row-->
          </div>
        </div><!--container-->
      </div><!--jumbo-->
      
      
      <div class="jumbotron section volunteer-img">
      </div><!--jumbo-->
      
      
      
      <div class="jumbotron section itn-green-bg">
        <div class="container-fluid inner-white-bg">
          <div class="row">
            <div class="itn-title col-sm-6">
              <h2>Ways to become a volunteer</h2>
              <hr align="left" width="35%">
              <p>There are 2 ways to join ITN<em>Lanier</em> as a volunteer:</p>
            </div><!--itn-title-->
          </div><!--row-->
        
        <div class="membership-btns row ta-center m-50">
          <a class="btn btn-primary btn-lg" ui-sref="volunteer-app" role="button">
            Online Volunteer Application</a>
          <a class="btn btn-primary btn-lg" 
             href="../assets/images/docs/VolunteerDriverApplication.pdf" 
             role="download driver app" download>Download PDF Volunteer Application</a>
        </div>
        </div><!--container-->  
      </div><!--jumbo-->
      
      
      
      <div class="jumbotron section description">
        <div class="container-fluid row">
          <div class="col-sm-8" style="background: rgba(255,255,255,0.5)">
            <h2>Provide one afternoon a week or a few hours during the month. You'll receive training, and ITNLanier will arrange your driving assignments and routes around your schedule. You can even pick up a rider on your way to work and do a good deed before the day's begun!</h2>
          </div>
        </div><!--container-->  
        
        <div class="col-sm-8" style="background: rgba(255,255,255,0.5)">
          <h2>All of us have a stake in helping to ensure that older adults and people with visual impairments can remain active once they stop driving. Volunteers help older people stay connected to families, friends, and activities that bring meaning to their lives - and to yours.</h2>
        </div>
      </div><!--container--> 
      
      </div><!--jumbo-->
      
      
    </div><!--volunteer to drive -->